[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "RClickhouse"]
	path = RClickhouse
	url = https://github.com/imsmwu/rclickhouse
	shallow = true
	registered = true
